<div class="mt-2 jersey w-full">
  {% for blog in profile.user.blogs.all reversed %}

    {% if blog.id %}

    <article

      class="my-8 stroke-black rounded p-6 bg-yellow hover:shadow-[0px_0px_0px_5px_rgba(0,0,0,1)] shadow-[0px_0px_0px_3px_rgba(0,0,0,1)] text-red"
    >
      <h2 class="font-bold mb-1 hover: cursor-pointer">
        <a class="text-3xl hover:text-black" href="{% url 'hotdogger:blog_post' blog.id %}">
          {% if blog.title %} {{ blog.title }} {% else %} Untitled {% endif %}
        </a>
        <a
          class="text-2xl "
          href="{% url 'hotdogger:profile' blog.user.profile.id %}"
        >
          by
          <span class="hover:text-black transition-all hover:transition-all"
            >@{{ blog.user }}</span
          >
        </a>
      </h2>
      <p class="text-base leading-6 mb-3">
        <time> {{ blog.created_at }}</time>
      </p>

      {% if blog.content %}
      <p class="text-lg mb-3">
        {{ blog.description }}
        <a
          href="{% url 'hotdogger:blog_post' blog.id%}"
          class="font-bold block mx-5 text-xl hover:text-black transition-all hover:transition-all cursor-pointer"
        >
          Read more →
        </a>
      </p>
      {% endif %}
      <p></p>
    </article>
  </a>
  {% endif %} {% endfor %}
</div>
